.radix-themes {
  --default-font-family: 'Menlo', 'Consolas (Custom)', 'Bitstream Vera Sans Mono', monospace, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.tweet {
  max-width: 30rem;
}

.StackImage:hover {
  background-color: #FFFFFF55;
}